<a href="https://colab.research.google.com/github/kbee181756/County_Level_Election_Results_12-16/blob/master/cuyahoga.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [0]:
from google.colab import files

In [3]:
upload = files.upload()

Saving CUYAHOGA.txt to CUYAHOGA.txt

In [133]:
cuyahoga = pd.DataFrame(pd.read_csv('CUYAHOGA.txt'))

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (25,28,58,64,66,67,74,82,87,93,96,103) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [134]:
cuyahoga.head(10)

    SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
0  OH0021260271             18  ...                 NaN                NaN
1  OH0015588169             18  ...                 NaN                NaN
2  OH0021305960             18  ...                   X                NaN
3  OH0022142186             18  ...                 NaN                NaN
4  OH0014795269             18  ...                   X                NaN
5  OH0014835459             18  ...                 NaN                NaN
6  OH0022150613             18  ...                 NaN                NaN
7  OH0022013053             18  ...                   X                NaN
8  OH0020137539             18  ...                   X                NaN
9  OH0022708801             18  ...                   X                NaN

[10 rows x 109 columns]

In [0]:
cuyahoga_clean = pd.DataFrame(cuyahoga.drop(axis=1,
                            columns=['PRIMARY-10/14/2008',
'GENERAL-11/04/2008',	
'GENERAL-11/18/2008',	
'PRIMARY-05/05/2009',	
'PRIMARY-09/08/2009',	
'PRIMARY-09/15/2009',	
'PRIMARY-09/29/2009',	
'GENERAL-11/03/2009',	
'PRIMARY-05/04/2010',	
'PRIMARY-07/13/2010',	
'PRIMARY-09/07/2010',	
'GENERAL-11/02/2010',	
'PRIMARY-05/03/2011',	
'PRIMARY-09/13/2011',	
'GENERAL-11/08/2011',	
'PRIMARY-03/06/2012',	
'GENERAL-11/06/2012',	
'PRIMARY-05/07/2013',	
'PRIMARY-09/10/2013',	
'PRIMARY-10/01/2013',	
'GENERAL-11/05/2013',	
'PRIMARY-05/06/2014',	
'GENERAL-11/04/2014',	
'PRIMARY-05/05/2015',	
'PRIMARY-09/15/2015',	
'GENERAL-11/03/2015',	
'PRIMARY-03/15/2016',	
'GENERAL-06/07/2016',	
'PRIMARY-09/13/2016',	
'GENERAL-11/08/2016',	
'PRIMARY-05/02/2017',	
'PRIMARY-09/12/2017',	
'GENERAL-11/07/2017',	
'PRIMARY-05/08/2018',	
'GENERAL-08/07/2018',	
'GENERAL-11/06/2018',	
'PRIMARY-05/07/2019',	
'PRIMARY-09/10/2019',	
'GENERAL-11/05/2019',	
'PRIMARY-03/17/2020',
'PRIMARY-03/07/2000',	
'GENERAL-11/07/2000',
'SPECIAL-05/08/2001',	
'GENERAL-11/06/2001',	
'PRIMARY-05/07/2002',	
'GENERAL-11/05/2002',	
'SPECIAL-05/06/2003',	
'GENERAL-11/04/2003',	
'PRIMARY-03/02/2004',	
'GENERAL-11/02/2004',	
'SPECIAL-02/08/2005',	
'PRIMARY-05/03/2005',	
'PRIMARY-09/13/2005',	
'GENERAL-11/08/2005',	
'SPECIAL-02/07/2006',	
'PRIMARY-05/02/2006',	
'GENERAL-11/07/2006',	
'PRIMARY-05/08/2007',	
'PRIMARY-09/11/2007',
'GENERAL-11/06/2007',	
'PRIMARY-11/06/2007',	
'GENERAL-12/11/2007',	
'PRIMARY-03/04/2008',
'RESIDENTIAL_COUNTRY',	
'RESIDENTIAL_POSTALCODE',	
'MAILING_ADDRESS1',	
'MAILING_SECONDARY_ADDRESS',	
'MAILING_CITY',	
'MAILING_STATE',		
'MAILING_COUNTRY',	
'MAILING_POSTAL_CODE',	
'CAREER_CENTER',	
'CITY',
'CITY_SCHOOL_DISTRICT',	
'COUNTY_COURT_DISTRICT',	
'CONGRESSIONAL_DISTRICT',	
'COURT_OF_APPEALS',	
'EDU_SERVICE_CENTER_DISTRICT',	
'EXEMPTED_VILL_SCHOOL_DISTRICT',	
'LIBRARY',	
'LOCAL_SCHOOL_DISTRICT',	
'MUNICIPAL_COURT_DISTRICT',	
'PRECINCT_NAME',	
'PRECINCT_CODE', 
'RESIDENTIAL_SECONDARY_ADDR',
'SUFFIX',
'MIDDLE_NAME',
'RESIDENTIAL_ZIP_PLUS4',
'MAILING_ZIP',
'MAILING_ZIP_PLUS4',
'TOWNSHIP',
'VILLAGE',
'WARD',
'STATE_BOARD_OF_EDUCATION']))

In [136]:
cuyahoga_clean['PARTY_AFFILIATION'].value_counts(normalize=True)

D    0.631545
R    0.366859
G    0.001596
Name: PARTY_AFFILIATION, dtype: float64

In [137]:
cuyahoga_clean.columns

Index(['SOS_VOTERID', 'COUNTY_NUMBER', 'COUNTY_ID', 'LAST_NAME', 'FIRST_NAME',
       'DATE_OF_BIRTH', 'REGISTRATION_DATE', 'VOTER_STATUS',
       'PARTY_AFFILIATION', 'RESIDENTIAL_ADDRESS1', 'RESIDENTIAL_CITY',
       'RESIDENTIAL_STATE', 'RESIDENTIAL_ZIP', 'STATE_REPRESENTATIVE_DISTRICT',
       'STATE_SENATE_DISTRICT'],
      dtype='object')

In [0]:
cuyahoga_clean['DATE_OF_BIRTH'] = pd.to_datetime(cuyahoga_clean['DATE_OF_BIRTH'])

In [0]:
cuyahoga_clean['REGISTRATION_DATE'] = pd.to_datetime(cuyahoga_clean['REGISTRATION_DATE'])

In [141]:
cuyahoga_clean['PARTY_AFFILIATION'].value_counts()

D    223143
R    129622
G       564
Name: PARTY_AFFILIATION, dtype: int64

In [0]:
dem = cuyahoga_clean[cuyahoga_clean['PARTY_AFFILIATION'] == 'D']
rep = cuyahoga_clean[cuyahoga_clean['PARTY_AFFILIATION'] == 'R']

In [131]:
cuyahoga_clean.dtypes

SOS_VOTERID                              object
COUNTY_NUMBER                             int64
COUNTY_ID                                 int64
LAST_NAME                                object
FIRST_NAME                               object
DATE_OF_BIRTH                    datetime64[ns]
REGISTRATION_DATE                        object
VOTER_STATUS                             object
PARTY_AFFILIATION                        object
RESIDENTIAL_ADDRESS1                     object
RESIDENTIAL_CITY                         object
RESIDENTIAL_STATE                        object
RESIDENTIAL_ZIP                           int64
STATE_REPRESENTATIVE_DISTRICT             int64
STATE_SENATE_DISTRICT                     int64
dtype: object

In [0]:
cuyahoga_clean["REG_HOWLONG"] = cuyahoga_clean['REGISTRATION_DATE'] - cuyahoga_clean['DATE_OF_BIRTH']

In [146]:
cuyahoga_clean['REG_HOWLONG'].mean()

Timedelta('12129 days 21:24:53.514152')

In [0]:
from datetime import date

In [0]:
def calculateAGE(birthDate):
  days_in_year = 365.2425
  age = int((date.today() - birthDate).day/days_in_year)
  return age

In [0]:
cuyahoga_clean['born_year'] = pd.DatetimeIndex(cuyahoga_clean['DATE_OF_BIRTH']).year

In [152]:
cuyahoga_clean.head()

    SOS_VOTERID  COUNTY_NUMBER  COUNTY_ID  ...    REG_AGE REG_HOWLONG born_year
0  OH0021260271             18    2472710  ... 10336 days  10336 days      1984
1  OH0015588169             18    2074727  ... 11390 days  11390 days      1984
2  OH0021305960             18    2479424  ... 11331 days  11331 days      1982
3  OH0022142186             18    2581882  ...  8809 days   8809 days      1989
4  OH0014795269             18     680662  ... 24157 days  24157 days      1950

[5 rows x 18 columns]

In [0]:
cuyahoga_clean['born_month'] = pd.DatetimeIndex(cuyahoga_clean['DATE_OF_BIRTH']).month

In [154]:
cuyahoga_clean.head()

    SOS_VOTERID  COUNTY_NUMBER  COUNTY_ID  ... REG_HOWLONG born_year born_month
0  OH0021260271             18    2472710  ...  10336 days      1984         12
1  OH0015588169             18    2074727  ...  11390 days      1984          4
2  OH0021305960             18    2479424  ...  11331 days      1982          6
3  OH0022142186             18    2581882  ...   8809 days      1989          8
4  OH0014795269             18     680662  ...  24157 days      1950          6

[5 rows x 19 columns]

In [0]:
cuyahoga_clean['reg_year'] = pd.DatetimeIndex(cuyahoga_clean['REGISTRATION_DATE']).year

In [156]:
cuyahoga_clean.head()

    SOS_VOTERID  COUNTY_NUMBER  COUNTY_ID  ... born_year born_month reg_year
0  OH0021260271             18    2472710  ...      1984         12     2013
1  OH0015588169             18    2074727  ...      1984          4     2015
2  OH0021305960             18    2479424  ...      1982          6     2013
3  OH0022142186             18    2581882  ...      1989          8     2013
4  OH0014795269             18     680662  ...      1950          6     2016

[5 rows x 20 columns]

In [0]:
cuyahoga_clean['years_reg'] = cuyahoga_clean['reg_year'] - cuyahoga_clean['born_year']

In [158]:
cuyahoga_clean.head()

    SOS_VOTERID  COUNTY_NUMBER  COUNTY_ID  ... born_month reg_year years_reg
0  OH0021260271             18    2472710  ...         12     2013        29
1  OH0015588169             18    2074727  ...          4     2015        31
2  OH0021305960             18    2479424  ...          6     2013        31
3  OH0022142186             18    2581882  ...          8     2013        24
4  OH0014795269             18     680662  ...          6     2016        66

[5 rows x 21 columns]

In [0]:
now = pd.Timestamp('now')

In [161]:
now

Timestamp('2020-04-30 21:28:31.406484')

In [0]:
today = date.today()

In [0]:
today.dtype

In [169]:
cuyahoga_clean['born_year'].value_counts(normalize=True)

1990    0.020524
1991    0.020015
1989    0.019944
1992    0.019935
1993    0.019472
          ...
1908    0.000003
1905    0.000002
1903    0.000002
1902    0.000002
1800    0.000001
Name: born_year, Length: 102, dtype: float64

In [172]:
cuyahoga_clean['VOTER_STATUS'].value_counts(normalize=True)

ACTIVE          0.930223
CONFIRMATION    0.069777
Name: VOTER_STATUS, dtype: float64

In [170]:
plt.bar(cuyahoga_clean['born_year'])

TypeError: ignored

In [163]:
today.year

2020

In [0]:
cuyahoga_clean['age'] = cuyahoga_clean[today.year] - cuyahoga_clean['born_year']

In [120]:
dem.head()

     SOS_VOTERID  ...  STATE_SENATE_DISTRICT
2   OH0021305960  ...                     23
4   OH0014795269  ...                     21
9   OH0022708801  ...                     25
23  OH0015339105  ...                     21
26  OH0023533912  ...                     21

[5 rows x 15 columns]

In [123]:
dem['DATE_OF_BIRTH'] = pd.to_datetime(dem['DATE_OF_BIRTH'])
rep['DATE_OF_BIRTH'] = pd.to_datetime(rem)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [125]:
dem.dtypes

SOS_VOTERID                              object
COUNTY_NUMBER                             int64
COUNTY_ID                                 int64
LAST_NAME                                object
FIRST_NAME                               object
DATE_OF_BIRTH                    datetime64[ns]
REGISTRATION_DATE                        object
VOTER_STATUS                             object
PARTY_AFFILIATION                        object
RESIDENTIAL_ADDRESS1                     object
RESIDENTIAL_CITY                         object
RESIDENTIAL_STATE                        object
RESIDENTIAL_ZIP                           int64
STATE_REPRESENTATIVE_DISTRICT             int64
STATE_SENATE_DISTRICT                     int64
DATE_OF_BRITH                    datetime64[ns]
dtype: object

In [121]:
rep.head()

     SOS_VOTERID  ...  STATE_SENATE_DISTRICT
5   OH0014835459  ...                     24
10  OH0014909484  ...                     24
32  OH0014709248  ...                     23
44  OH0018832257  ...                     24
46  OH0014761769  ...                     24

[5 rows x 15 columns]

In [94]:
dem['DATE_OF_BIRTH'].dtypes

dtype('O')

In [0]:
rep = cuyahoga[cuyahoga['PARTY_AFFILIATION'] == 'R']

In [96]:
rep["FIRST_NAME"].value_counts()

JOHN       3162
MICHAEL    3067
ROBERT     2925
JAMES      2818
DAVID      2501
           ...
LARYSA        1
GWEYNN        1
A SABRA       1
ZEESHAN       1
BALBINA       1
Name: FIRST_NAME, Length: 8125, dtype: int64

In [97]:
dem["FIRST_NAME"].value_counts().sort_values(ascending=False)

MICHAEL      3296
MARY         3185
JAMES        3132
JOHN         3091
ROBERT       2864
             ...
TERRAMIKA       1
VERDENE         1
RUSTEM          1
HAESOOK         1
PININA          1
Name: FIRST_NAME, Length: 21542, dtype: int64

In [98]:
dem["LAST_NAME"].value_counts()

SMITH              2240
WILLIAMS           2062
JOHNSON            1847
JONES              1668
BROWN              1435
                   ...
FLENORY ASHFORD       1
FALUSKI               1
ABDUR RAZZAQ          1
GURNER                1
NASH WRIGHT           1
Name: LAST_NAME, Length: 48620, dtype: int64

In [0]:
mic_smith = dem[(dem['LAST_NAME'] == 'SMITH') & (dem['FIRST_NAME'] =='MICHAEL')]

In [100]:
mic_smith.head()

         SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
73316   OH0022245722             18  ...                 NaN                NaN
84333   OH0020148890             18  ...                   X                NaN
166470  OH0014908677             18  ...                   X                NaN
167687  OH0014583133             18  ...                 NaN                NaN
179332  OH0014518618             18  ...                   X                NaN

[5 rows x 109 columns]

In [0]:
mic_smith_r = rep[(rep['LAST_NAME'] == 'SMITH') & (rep['FIRST_NAME'] =='MICHAEL')]

In [101]:
mic_smith_r.head()

         SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
35667   OH0015304863             18  ...                   X                NaN
129851  OH0014777625             18  ...                 NaN                NaN
181317  OH0023386777             18  ...                 NaN                NaN
305888  OH0023239013             18  ...                 NaN                NaN
359365  OH0015387671             18  ...                   X                NaN

[5 rows x 109 columns]

In [0]:
mary_williams_r = rep[(rep['LAST_NAME'] == 'WILLIAMS') & (rep['FIRST_NAME'] =='MARY')]

In [102]:
mary_williams_r.head()

         SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
282220  OH0014807614             18  ...                   X                NaN
612447  OH0014674903             18  ...                 NaN                NaN
652487  OH0014691343             18  ...                 NaN                NaN
662281  OH0021537794             18  ...                   X                NaN

[4 rows x 109 columns]

In [0]:
mary_williams_d = dem[(dem['LAST_NAME'] == 'WILLIAMS') & (dem['FIRST_NAME'] =='MARY')]

In [104]:
mary_williams_d.head()

         SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
56273   OH0014563302             18  ...                 NaN                NaN
143764  OH0015011933             18  ...                 NaN                NaN
194330  OH0014562186             18  ...                 NaN                NaN
211793  OH0018569233             18  ...                   X                NaN
225029  OH0014652684             18  ...                   X                NaN

[5 rows x 109 columns]

In [0]:
dem = pd.DataFrame(dem.drop(axis=1,
                            columns=['PRIMARY-10/14/2008',
'GENERAL-11/04/2008',	
'GENERAL-11/18/2008',	
'PRIMARY-05/05/2009',	
'PRIMARY-09/08/2009',	
'PRIMARY-09/15/2009',	
'PRIMARY-09/29/2009',	
'GENERAL-11/03/2009',	
'PRIMARY-05/04/2010',	
'PRIMARY-07/13/2010',	
'PRIMARY-09/07/2010',	
'GENERAL-11/02/2010',	
'PRIMARY-05/03/2011',	
'PRIMARY-09/13/2011',	
'GENERAL-11/08/2011',	
'PRIMARY-03/06/2012',	
'GENERAL-11/06/2012',	
'PRIMARY-05/07/2013',	
'PRIMARY-09/10/2013',	
'PRIMARY-10/01/2013',	
'GENERAL-11/05/2013',	
'PRIMARY-05/06/2014',	
'GENERAL-11/04/2014',	
'PRIMARY-05/05/2015',	
'PRIMARY-09/15/2015',	
'GENERAL-11/03/2015',	
'PRIMARY-03/15/2016',	
'GENERAL-06/07/2016',	
'PRIMARY-09/13/2016',	
'GENERAL-11/08/2016',	
'PRIMARY-05/02/2017',	
'PRIMARY-09/12/2017',	
'GENERAL-11/07/2017',	
'PRIMARY-05/08/2018',	
'GENERAL-08/07/2018',	
'GENERAL-11/06/2018',	
'PRIMARY-05/07/2019',	
'PRIMARY-09/10/2019',	
'GENERAL-11/05/2019',	
'PRIMARY-03/17/2020',
'PRIMARY-03/07/2000',	
'GENERAL-11/07/2000',
'SPECIAL-05/08/2001',	
'GENERAL-11/06/2001',	
'PRIMARY-05/07/2002',	
'GENERAL-11/05/2002',	
'SPECIAL-05/06/2003',	
'GENERAL-11/04/2003',	
'PRIMARY-03/02/2004',	
'GENERAL-11/02/2004',	
'SPECIAL-02/08/2005',	
'PRIMARY-05/03/2005',	
'PRIMARY-09/13/2005',	
'GENERAL-11/08/2005',	
'SPECIAL-02/07/2006',	
'PRIMARY-05/02/2006',	
'GENERAL-11/07/2006',	
'PRIMARY-05/08/2007',	
'PRIMARY-09/11/2007',
'GENERAL-11/06/2007',	
'PRIMARY-11/06/2007',	
'GENERAL-12/11/2007',	
'PRIMARY-03/04/2008',
'RESIDENTIAL_COUNTRY',	
'RESIDENTIAL_POSTALCODE',	
'MAILING_ADDRESS1',	
'MAILING_SECONDARY_ADDRESS',	
'MAILING_CITY',	
'MAILING_STATE',		
'MAILING_COUNTRY',	
'MAILING_POSTAL_CODE',	
'CAREER_CENTER',	
'CITY',
'CITY_SCHOOL_DISTRICT',	
'COUNTY_COURT_DISTRICT',	
'CONGRESSIONAL_DISTRICT',	
'COURT_OF_APPEALS',	
'EDU_SERVICE_CENTER_DISTRICT',	
'EXEMPTED_VILL_SCHOOL_DISTRICT',	
'LIBRARY',	
'LOCAL_SCHOOL_DISTRICT',	
'MUNICIPAL_COURT_DISTRICT',	
'PRECINCT_NAME',	
'PRECINCT_CODE', 
'RESIDENTIAL_SECONDARY_ADDR',
'SUFFIX',
'MIDDLE_NAME',
'RESIDENTIAL_ZIP_PLUS4',
'MAILING_ZIP',
'MAILING_ZIP_PLUS4',
'TOWNSHIP',
'VILLAGE',
'WARD',
'STATE_BOARD_OF_EDUCATION']))

In [111]:
dem.head(10)

     SOS_VOTERID  ...  STATE_SENATE_DISTRICT
2   OH0021305960  ...                     23
4   OH0014795269  ...                     21
9   OH0022708801  ...                     25
23  OH0015339105  ...                     21
26  OH0023533912  ...                     21
36  OH0015138398  ...                     24
38  OH0015214880  ...                     23
41  OH0015077352  ...                     25
47  OH0014722530  ...                     25
51  OH0014537427  ...                     21

[10 rows x 15 columns]

In [113]:
dem['STATE_REPRESENTATIVE_DISTRICT'].value_counts(normalize=True)

9     0.139104
8     0.116145
12    0.114559
6     0.090646
16    0.086527
13    0.082100
14    0.078430
11    0.077596
10    0.077475
15    0.069556
7     0.067862
Name: STATE_REPRESENTATIVE_DISTRICT, dtype: float64

In [115]:
dem['RESIDENTIAL_ZIP'].value_counts()

44122    10859
44107    10796
44118     9966
44120     9136
44121     8324
44128     7653
44130     7253
44124     7096
44146     7023
44105     6027
44111     6005
44134     5801
44102     5210
44143     5034
44137     4958
44070     4925
44106     4914
44108     4787
44112     4727
44145     4701
44139     4690
44125     4661
44109     4423
44129     4081
44116     3812
44135     3765
44133     3605
44110     3412
44104     3295
44123     3273
44144     3272
44131     3231
44142     3228
44126     3083
44017     3046
44136     2979
44138     2965
44103     2914
44140     2783
44113     2777
44149     2574
44119     2566
44147     2483
44117     2439
44132     2392
44141     1982
44022     1962
44115      786
44114      637
44040      418
44127      414
Name: RESIDENTIAL_ZIP, dtype: int64

In [82]:
rep["LAST_NAME"].value_counts()

SMITH        690
MILLER       549
BROWN        323
JOHNSON      322
JONES        292
            ...
STEFANAR       1
DREES          1
FAMBRINI       1
BIESINGER      1
PESANO         1
Name: LAST_NAME, Length: 37553, dtype: int64

In [83]:
dem.head()

     SOS_VOTERID  COUNTY_NUMBER  ...  GENERAL-11/05/2019 PRIMARY-03/17/2020
2   OH0021305960             18  ...                   X                NaN
4   OH0014795269             18  ...                   X                NaN
9   OH0022708801             18  ...                   X                NaN
23  OH0015339105             18  ...                 NaN                NaN
26  OH0023533912             18  ...                 NaN                NaN

[5 rows x 109 columns]